<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>
  	<script src="https://unpkg.com/vue"></script>

<div id="root">
	<ul>
		<li v-for="name in names" v-text="name">
	</ul>
	<ul>
		<li v-for="hobby in hobbies" v-text="hobby">
	</ul>
	<input id="input" type="text" v-model="newName">
	<button v-on:click="addName">Add Name</button>
</div>
<script>
var app = new Vue({
  el: '#root',
  data: {
  	newName: "",
  	names: [ "Joe", "Mary"],
  	hobbies: ["kayaking", "skiing"]
  },
  methods: {
  	addName : function () {
  		this.names.push(this.newName);
  		this.newName = '';
  	}
  }
})
</script>
  </body>
</html>



