<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>
  	<script src="https://unpkg.com/vue"></script>

<div id="root">
	<input type="text" id="input" v-model="message">
	<p>The value of the input is {{ message }}</p>
</div>
<script>
let data = { message: 'Hello World'};
new Vue({
  el: '#root',
  data: data
})
</script>
  </body>
</html>



